#header{
  height: 200px!important;
}
a {
  text-decoration: none !important;
}
#{
  width : 1000px;
}
.header-logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #838383;
}
.header-myaccounst {
  font: 1.5rem;
  color: #838383;
}

.header-content-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.MuiAppBar-colorPrimary {
  background-color: white !important;
  color: #838383 !important;
}

.MuiDrawer-paper {
  color: #dedede !important;
  background-color: #373f4a !important;
}

.MuiDrawer-paper::-webkit-scrollbar {
display:none
}

.MuiDrawer-paper::-webkit-scrollbar-thumb {
  border-radius: 0 8px 8px 0;
  width: 8px;
  background-color: #707070;
}

.MuiListItemIcon-root img {
  width: 40px;
}

.MuiList-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.my-search {
  top: 10px !important;
  position: relative;
  cursor: pointer;
}

.log-out {
  width: 120px;
  color: #707070;
  cursor: pointer;
}

.log-out svg {
  position: relative;
  top: 6px;
  cursor: pointer;
}

.devider {
  width: 2px;
  height: 20px;
  background-color: rgb(134, 109, 109);
  margin: 0 20px;
}

.text-white-icon {
  color: #fff !important;
}
#sidebar img {
  width: 35px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 800px){
.search{
  display: none;
}
.log-out{
display:none;
}
#dev2{
  display: none
}
}