.reports-div {
    margin-top: 200px;
}

.pickTime {
   background-color: white; 
}

.formDiv1 {
    float: left;
    margin: 15px;
}


.formDiv2 {
    float: right;
    margin: 15px;

}

.button-div {
    margin-top: 26px;
}


