.MuiSelect-select.MuiSelect-select{
    padding-right: 24px;
}
#standard-basic{
    width: 200px;
}
#standard-basic-label{
    font-size: 15px;
    position: absolute;
}
.MuiInputBase-input.MuiFilledInput-input{
    width: 200px;
}
#outlined-basic-label{
    font-size: 15px;
    position: absolute;
}
.MuiInputBase-input{
    width:130px !important;
    font-size: 14px !important;
}