.hovered-styled-row .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit {
    border-radius: 100% !important;
}

.hovered-styled-row .MuiTableCell-root.MuiTableCell-head.MTableHeader-header-29,
.hovered-styled-row .MuiTableCell-root.MuiTableCell-head.MTableHeader-header-25 {
    background-color: #0e1c42;
    color: #eee;
}