.years{
    width: 150px;
    height: 40px;
    text-align: center  ;
    border: 2px solid rgb(143, 141, 141);
    font-size: 20px;
}

{

}
.table{
    width: 100%;
}
.table .MuiTableHead-root th{
 padding: 4px;
font-weight: bold ;   
border-top: 2px solid black;
border-bottom: 1px solid gray;
border-left:0.5px solid gray;    
font-size: 12px;
}   
.table .MuiTableRow-root td{font-weight: bold ;   
    border-bottom: 1px solid gray;
    border-left:0.5px solid gray;    
    font-size: 19px;}

.table.MuiTableHead-root th:first-child{
     border-left: none ;
}
.table{
    padding:-6px;
}
