.MuiButton-containedSecondary{
    width: 90px;
}
.Header{
        margin-top: 50px !important;
        padding: 50px !important;
        width: 530px;
        background-color: rgb(255, 255, 255) !important;
        display: grid;
        margin: 0 auto;
}
.MuiOutlinedInput-root{
    margin:10px;
}
.MuiOutlinedInput-input{
    padding: 5px!important;
}

